<% provide(:title, "従業員ログイン") %>
<div class="row">
  <div class="col-lg-8 offset-lg-2 pb-5">
    <h2 class="text-center pt-3 pb-3">従業員ログイン</h2>
    <%= form_for(:session, url: login_employee_path) do |f| %>

      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログインする", class: "btn btn-primary mt-3" %>
    
    <% end %>
     <p class="pt-3"><%= link_to "従業員アカウントを作成する", new_employee_path %></p>
  </div>
</div>