<% provide(:title, "会社ログイン") %>
<h1>会社ログイン</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <%= form_for(:session, url: login_company_path) do |f| %>

      <%= f.label :company_email, "Email" %>
      <%= f.email_field :company_email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログインする", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "会社アカウントを作成する", new_company_path %></p>
  </div>
</div>