<% provide(:title, '従業員アカウント登録') %>
<h1>従業員アカウント登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@employee) do |f| %>
      <%= render 'shared/error_employee_messages' %>
      
      <%= f.label :first_name, "姓" %>
      <%= f.text_field :first_name, class: 'form-control' %>
    
      <%= f.label :last_name, "名" %>
      <%= f.text_field :last_name, class: 'form-control' %>
      
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :age, "年齢" %>
      <%= f.number_field :age, class: 'form-control' %>
      
      <%= f.label :sex, "性別" %>
      <%= f.select :sex, {"男性": 1, "女性": 2}, class: 'form-control' %>
      
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit "アカウント作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>