<% provide(:title, '面談の確認') %>
<h1><%= @employee.first_name %><%= @employee.last_name %>さん</h1>
<h1>高ストレスであるため医師との面談をお勧めします</h1>

  <%= @value.projects.count %>
<% if @value.interview == false && @value.projects.count > 0 %>
  
    <p><%= button_to "希望する", { :action => "interview", :id => @value.id }, 
        data: { confirm: "面談希望の有無を会社担当者へ連絡しますがよろしいですか?" } %></p>
    <p><%= button_to "希望しない", { :action =>"show", :controller =>"employees", :id => @employee.id }, :method => :get %></p>
<% elsif @value.interview == true %>
  <p>担当者からの連絡をお待ちください</p>
<% else %>
  <p>実施回に提出がされていません</p>
<% end %>