<% provide(:title, 'ストレスプロフィール') %>
<h1>ストレスプロフィール</h1>
<div class = "profile">
    <%= date_conversion(@value.created_at) %>
    <h1><%= @employee.full_name %>さんのストレスプロフィール</h1>
    <% @departments.each do |d| %>
        <p>会社:<%= d.company.company_name %></p>
        <p>部署:<%= d.department_name %></p>
        <p>実施回:<% d.company.projects.each do |i| %></p>
                    
                    <%= i.start_date %>〜<%= i.end_date %>
                    <%= i.project_name %>

                  <% end %>
    <% end %>
    
    <h1>期間中の実施回</h1>
    <% @correct_projects.each do |project| %>
      <% if @value.belong?(project) %>
        <%= form_for(@value.project_values.find_by(project_id: project.id),
              html: { method: :delete }) do |f|  %>
          <div><%= project.project_name %></div>
          <div>期間：<%= project.start_date %>〜<%= project.end_date %></div>
          <%= f.submit "提出しない", class: "btn" %>
        <% end %>
      
      <% elsif project.start_date <= @value.created_at && @value.created_at <= project.end_date && !@value.super_belong?(project) %>
        <%= form_for(@value.project_values.build) do |f| %>
          <div><%= project.project_name %></div>
          <div>期間：<%= project.start_date %>〜<%= project.end_date %></div>
          <div><%= hidden_field_tag :project_id, project.id %></div>
          <div><%= hidden_field_tag :value_id, @value.id %></div>
          <%= f.submit "提出する", class: "btn btn-primary" %>
        <% end %>
        
      <% elsif @value.super_belong?(project) %>
        <p><%= project.project_name %>は他のストレス値が提出されています</p>  
        
       <% else %>
       <p><%= project.project_name %>は期間外なので提出できません</p>
      <% end %>
        
    <% end %>
    
    
    
</div>
<br/>

<div class = "description">
    ご回答いただいたストレス調査票の結果から、“あなたのストレスプロフィール”を作成しました。このプロフィールから、
    あなたのストレスの状態をおおよそ把握していただくことが出来ると思います。結果をごらんいただき、ご自分の心の健康管理に
    お役立てください。詳しいストレス度や、それに伴うこころの問題については、この結果のみで判断することはできません。
    ご心配な方は専門家にご相談ください。
</div>
<div class = "higt_stress">
    <h2><%= high_stress(count_a: @count_a, count_b: @count_b, count_c: @count_c) %></h2>
</div>
<br/>
<div class = "assessment">
    <h2>＜評価＞</h2>
    <%= stress_check(count_a: @count_a, count_b: @count_b, count_c: @count_c) %>
</div>
<br/>

<h2>ストレスグラフ</h2>
<%= high_chart("my_chart_1", @chart_a) %>
<br/>


<%= high_chart("my_chart_2", @chart_b) %>
<br/>

<%= high_chart("my_chart_3", @chart_c) %>
<h5>(グラフは点数が低いほど高ストレスとなります)</h5>
<br/>



<div class = "comment">
    <h2>＜コメント＞</h2>
    ご自分にとってのストレスの原因となるものとその程度を把握し、それに可能な対処をしていくことで、
    心や体に大きなストレスがかかるのを未然に防ぐことが可能です。仕事の量が多い、仕事の質が厳しい
    と考えている人は、もう一度自分の仕事量を見直し、上司、同僚と仕事内容について相談することを
    お勧めします。周囲の人に協力を仰ぐ事により、事態が解決するかもしれません。仕事のコントロール度
    は、自分で仕事の予定や手順を決めることができない場合に、「仕事のコントロール度」が低くなります。
    例えば、周囲のスピードや上司の予定に合わせて仕事をする、又は、急な仕事の変更がよく起きるために
    予定が立てられない状況などです。仕事のやり方をうまくして負担量を軽減することはできないか、仕事
    の進め方を自分で選択できる部分がないかなど考えてみて下さい。それが無理な場合は、仕事からストレス
    を多く受けていることを自覚して、勤務時間外や休日はなるべく仕事を持ち帰らず、リフレッシュに努めましょう。
</div>
<br/>


<input type="button" value="このページを印刷" onclick="window.print();">
<p><%= button_to "結果をメールで送る", { :action => "send_email", :id => @value.id },
      data: { confirm: "#{@employee.email}宛てにメール送ります。よろしいですか？" } %></p>

  <% if @value.high_value? %>
    <p>あなたは高ストレスと判定されました、下記のページから産業医との面談希望の有無をお知らせください。</p>
    <%= link_to "面談確認画面へ", interview_confirm_value_path(@value)  %> </br>
  <% end %>
