<% provide(:title, "#{ @department.department_name }") %>
<div class="row">
<div class="col-md-12 text-center">
<% if logged_in_employee? %>
  <% if current_employee.belong?(@department) %>
    <h5 class="mb-3 mt-3"><%= @department.department_name %> に所属しています</h5>
      <%= form_for(current_employee.relationships.find_by(department_id: @department.id),
                    html: { method: :delete }) do |f| %>
        <%= f.submit "脱退する", class: "btn btn-outline-primary mb-3" %>
      <% end %>
  
<% else %>
    <h2>所属していません</h2>
       <%= form_for(current_employee.relationships.build) do |f| %>
         <div><%= hidden_field_tag :department_id, @department.id %></div>
         <%= f.submit "所属する", class: "btn btn-primary" %>
       <% end %>
 
  <% end %>
<% end %>
 </div>
  </div>

<div class="row">
<div class="col-sm-4 text-center">
<%= image_tag qrcode_tag "#{department_url}"%>
<h4>【QRコード】</h4>
</div>

<div class="col-sm-8">
  <div class="jumbotron mt-4 white text-center">
  <h5 class="border-bottom border-gray mb-3 pb-2">会社名：<%= @department.company.company_name %></h5>
  <h5 class="border-bottom border-gray mb-3 pb-2">部署名：<%= @department.department_name %></h5>
  <h5 class="border-bottom border-gray mb-3 pb-2">従業員数：<%= @department.employee_number %>名</h5>
  <h5 class="border-bottom border-gray mb-3 pb-2">所属している会社員</h5>
    <% @department.relationships.each do |i| %> 
      <li><%= i.employee.first_name + i.employee.last_name %></li>
    <% end %>
 
  </div>
  </div>
  


</div>