<% provide(:title, "#{@project.project_name}") %>
<div class="row">
  <div class="col-sm jumbotron mt-4 white">
    <p class="border-bottom border-gray mb-2 pb-2">実施回名:<%= @project.project_name %></p>
    <p class="border-bottom border-gray mb-3 pb-2">期間:<%= @project.start_date %>〜<%= @project.end_date %></p>
    <p class="border-bottom border-gray mb-3 pb-2">受検対象者数:<%= @project.employee_number %>人</p>
    <p class="border-bottom border-gray mb-3 pb-2">受検終了者数:<%= @values.count %>人</p>
    <p class="border-bottom border-gray mb-3 pb-2">未受検者数:<%= @project.employee_number - @values.count %>人</p>
    <p class="border-bottom border-gray mb-3 pb-2">高ストレス者：<%= @high_stress_count %>人</p>
    <p class="border-bottom border-gray mb-3 pb-2">面談希望者：<%= @interview_count  %>人</p>
    <ul>
      <% @values.each do |value| %>
        <% if value.interview %>
          <li><%= value.employee.full_name %></li>
          <%= "< #{value.employee.email} >" %>
        <% end %>
      <% end %>
    </ul>
    <p class="border-bottom border-gray mb-3 pb-2">受検終了者名</p>
    <ul>
      <% @values.each do |value| %>
        <li>従業員名：<%= value.employee.full_name %></br>
        ストレスID：<%= value.id %></br>
        高ストレス：<% if value.high_value? %>
                      <%= "有" %>  
                    <% else %>
                      <%= "無" %>  
                    <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-sm">
    <h4 class="text-center pt-4 pb-3">グラフ</h4>
    <%= high_chart("chart_1", @chart_finish_stress) %>
    <p class="text-center small pb-5"><受検終了者数 / 受検対象者数></p>
    
    <% unless @high_stress_count == 0 %>
    <%= high_chart("chart_2", @chart_high_stress) %>
    <p class="text-center small pb-5"><高ストレス者数 / 受検終了者数></p>
    <% end %>
    
    
  </div>
</div>

