<h1>Stress App</h1>

<p>Hi <%= @company.company_name %>,</p>

<p>部署</p>
<p><%= link_to "部署URL", @department_url %></p>
<p><img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=<%= "#{@department_url}" %>" alt="QR code"></p>

<p>会社</p>
<p><%= link_to "会社URL", @company_url %></p>
<p><img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=<%= "#{@company_url}" %>" alt="QR code"></p>

