<% provide(:title, 'お問い合わせ') %>
<div class="row">
  <div class="col-lg-8 offset-lg-2 pb-5">
    <h1 class="text-center pt-4 pb-4">お問い合わせ</h1>
    <%= form_for @inquiry, url: inquiry_confirm_path do |f| %>
      <%= render 'shared/error_inqury_messages' %>
      
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: 'form-control pb-2' %>
        
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class: 'form-control pb-2' %>
        
        <%= f.label :message, "お問い合わせ内容" %>
        <%= f.text_area :message, class: 'form-control pb-5' %>
      
        <%= f.submit '確認', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>